.BandejaGrupos{
    background-color:#fff;
    min-height:800px;
    margin:12px;
    box-shadow:0px 0px 1px;
}

.TituloContenedores{
    width:100%;
    height:120px;
    margin:0px;
    background-color:#db99ef;
    color:#FFF;
    font-size:27px;
}

.TituloContenedores img{
    width:60px;
    height:60px;
    margin-top:20px;
    margin-bottom:40px;
}

.SeparadorTituloContendores{
    width:100%;
    height:20px;
    margin:0px;
    background-color:#8A4387;
}

.TituloGrupoContenedor{
     padding:4px;
     margin:7px;
     overflow-y:scroll;
     height:700px;
}

.TituloGrupoContenedor img{
     height:30px;
     width:30px;
}

.TituloGrupo{
     background-color:#db99ef;
     height:60px;
}

#PuntoReunion{
   padding:12px;
   background-color:#db99ef;
   margin:12px;    
}

#NuevoMiembro{
    width:100%;
    height:40px;
}

#BotonAgregarMiembro{
    height:40px;
    padding-top:8px;
     padding-bottom:12px;
     padding-left:3px;
      padding-left:13px;
}

.TareaDiv{
    margin-right:4px;
    margin-left:4px;
    margin-top:8px;
    font-size:22px;
    color:#8A4387;
    background-color:#eec2fc;
    font-weight:bold;
}

.SeccionesTarea{
    padding:4px;
}

.ContenedorSeccionesTarea{
    padding:9px;
}

.EliminarTarea{
    background-color:#ef7775;
    margin:0px;
    color:#fff;
    padding-right:12px;
}

.EliminarTarea img{
    height:20px;
    margin:5px;
    height:20px;
}

.GuardarTarea{
     background-color:#52a5b2;
    margin:0px;
    color:#fff;
    padding-right:12px;
}

.GuardarTarea img{
     height:20px;
    margin:5px;
    height:20px;
}

.BandejaLateral{
    min-height:800px;
    margin:12px;
}

.TituloLateralesContenedores{
    width:100%;
    height:120px;
    margin:0px;
    background-color:#EBC98A;
    color:#FFF;
    font-size:27px;
}

.TituloLateralesContenedores img{
    width:60px;
    height:60px;
    margin-top:20px;
    margin-bottom:40px;
}

.SeparadorTituloContendoresLateral{
    width:100%;
    height:20px;
    margin:0px;
    background-color:#B07509;
}