<web-app>
    
    <servlet>
        <servlet-name>IngresoUsuario</servlet-name>
        <servlet-class>Servlets.IngresoUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngresoUsuario</servlet-name>
        <url-pattern>/IngresoUsuario</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>IngresoPrograma</servlet-name>
        <servlet-class>Servlets.IngresoPrograma</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngresoPrograma</servlet-name>
        <url-pattern>/IngresoPrograma</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>IngresarActividad</servlet-name>
        <servlet-class>Servlets.IngresarActividad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngresarActividad</servlet-name>
        <url-pattern>/IngresarActividad</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ChequeoActividad</servlet-name>
        <servlet-class>Servlets.ChequeoActividad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChequeoActividad</servlet-name>
        <url-pattern>/ChequeoActividad</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CambiosActividad</servlet-name>
        <servlet-class>Servlets.CambiosActividad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CambiosActividad</servlet-name>
        <url-pattern>/CambiosActividad</url-pattern>
    </servlet-mapping>
    
</web-app>