<web-app>
    <servlet>
        <servlet-name>Ingreso</servlet-name>
        <servlet-class>Servlets.Ingreso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ingreso</servlet-name>
        <url-pattern>/Ingreso</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>IngresoUsuario</servlet-name>
        <servlet-class>Servlets.IngresoUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngresoUsuario</servlet-name>
        <url-pattern>/IngresoUsuario</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>IngresoPrograma</servlet-name>
        <servlet-class>Servlets.IngresoPrograma</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngresoPrograma</servlet-name>
        <url-pattern>/IngresoPrograma</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>IngresarActividad</servlet-name>
        <servlet-class>Servlets.IngresarActividad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngresarActividad</servlet-name>
        <url-pattern>/IngresarActividad</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CambiosUsuarios</servlet-name>
        <servlet-class>Servlets.CambiosUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CambiosUsuarios</servlet-name>
        <url-pattern>/CambiosUsuarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Entrada</servlet-name>
        <servlet-class>Servlets.Entrada</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Entrada</servlet-name>
        <url-pattern>/Entrada</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IngresoActividad</servlet-name>
        <servlet-class>Servlets.IngresoActividad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngresoActividad</servlet-name>
        <url-pattern>/IngresoActividad</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CambioActividad</servlet-name>
        <servlet-class>Servlets.CambioActividad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CambioActividad</servlet-name>
        <url-pattern>/CambioActividad</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ELiminarActividad</servlet-name>
        <servlet-class>Servlets.ELiminarActividad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ELiminarActividad</servlet-name>
        <url-pattern>/ELiminarActividad</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>MarcarActividadFinalizada</servlet-name>
        <servlet-class>Servlets.MarcarActividadFinalizada</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarcarActividadFinalizada</servlet-name>
        <url-pattern>/MarcarActividadFinalizada</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MarcarActividadNoFinalizada</servlet-name>
        <servlet-class>Servlets.MarcarActividadNoFinalizada</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarcarActividadNoFinalizada</servlet-name>
        <url-pattern>/MarcarActividadNoFinalizada</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IngresarExamen</servlet-name>
        <servlet-class>Servlets.IngresarExamen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngresarExamen</servlet-name>
        <url-pattern>/IngresarExamen</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>EliminarExamen</servlet-name>
        <servlet-class>Servlets.EliminarExamen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarExamen</servlet-name>
        <url-pattern>/EliminarExamen</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MarcarExamenFinalizado</servlet-name>
        <servlet-class>Servlets.MarcarExamenFinalizado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarcarExamenFinalizado</servlet-name>
        <url-pattern>/MarcarExamenFinalizado</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MarcarExamenNoFinalizado</servlet-name>
        <servlet-class>Servlets.MarcarExamenNoFinalizado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarcarExamenNoFinalizado</servlet-name>
        <url-pattern>/MarcarExamenNoFinalizado</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userLogin</servlet-name>
        <servlet-class>Servlets.userLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userLogin</servlet-name>
        <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EnvioKerberos</servlet-name>
        <servlet-class>Servlets.EnvioKerberos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnvioKerberos</servlet-name>
        <url-pattern>/EnvioKerberos</url-pattern>
    </servlet-mapping>
</web-app>